@import "tailwindcss";

@theme {
  --breakpoint-xs: 25.75rem;
  --breakpoint-xl: 79.5rem;
  --breakpoint-3xl: 118.75rem;
  --breakpoint-4xl: 158.75rem;
}

/* Movil Text Sizes */

@utility text-base-movil {
  font-size: clamp(16px, 5vw, 20px);
  line-height: 1.5;
}

@utility text-4xl-movil {
  font-size: clamp(45px, 14vw, 85px);
  line-height: 1.11;
}



.a{
  font-size: 11px;
}



















@utility border-graphite {
  border-color: #1c1c1d;
}

@utility h-content-desktop {

  height: calc(100vh - 72px)

}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1200px) {}

::-webkit-scrollbar {
  width: 0px;

}
