@import "tailwindcss";

@theme {
  --breakpoint-xs: 25.75rem;
  --breakpoint-xl: 79.5rem;
  --breakpoint-3xl: 118.75rem;
  --breakpoint-4xl: 158.75rem;
}

/* Movil Text Sizes */

@utility text-xs-movil {
  font-size: clamp(12px, 3.65vw, 16px);
  line-height: 1.33;
}

@utility text-sm-movil {
  font-size: clamp(14px, 4.4vw, 18px);
  line-height: 1.42;
}

@utility text-base-movil {
  font-size: clamp(16px, 5vw, 20px);
  line-height: 1.5;
}

@utility text-lg-movil {
  font-size: clamp(18px, 5.5vw, 22px);
  line-height: 1.55;
}

@utility text-4xl-movil {
  font-size: clamp(45px, 14vw, 70px);
  line-height: 1.11;
}

/* Tablet text Sizes */

@utility text-xs-tablet {
  font-size: clamp(12px, 1.87vw, 18px);
  line-height: 1.33;
}

@utility text-lg-tablet {
  font-size: clamp(18px, 2.81vw, 24px);
  line-height: 1.55;
}

@utility text-xl-tablet {
  font-size: clamp(20px, 3.12vw, 26px);
  line-height: 1.4;
}

@utility text-2xl-tablet {
  font-size: clamp(24px, 3.75vw, 30px);
  line-height: 1.33;
}

@utility text-7xl-tablet {
  font-size: clamp(72px, 11.25vw, 90px);
  line-height: 1;
}




.a{
  font-size: 11px;
}



















@utility border-graphite {
  border-color: #1c1c1d;
}

@utility h-content-desktop {
  height: calc(100vh - 72px)
}

@utility min-size-brand {
  min-width: clamp(40px, 12.5vw, 60px);
  min-height: clamp(40px, 12.5vw, 60px);
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1200px) {}

::-webkit-scrollbar {
  width: 0px;

}
